.carouselWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: inherit;
}

.carouselContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.carouselContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carouselItem {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  position: relative;
}

.contentBox {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  align-items: center;
}

.indicator {
  width: 4px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  margin: 5px;
  transition:
    all 0.5s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover:not(.activeIndicator) {
    transform: scale(2);
  }
}

.activeIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-color);
}

.navButton {
  position: absolute;
  top: 50%;
  width: fit-content;
  height: fit-content;
  max-width: calc(100dvw - 10vmin);
  max-height: calc(100dvh - 10vmin);
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--text-color);
  cursor: inherit;
  z-index: 10;
}

.navButton svg {
  fill: var(--text-color);
  width: 5vmax;
  height: 5vmax;
}

.navButton:first-of-type {
  left: 5vmax;
  filter: drop-shadow(5px 5px 0px var(--click-interaction-color));
}

.navButton:last-of-type {
  right: 5vmax;
  filter: drop-shadow(-5px 5px 0px var(--click-interaction-color));
}
