.circle {
  --circle-size: 12px;
  --glow-color: rgba(255, 255, 255, 0.8);

  position: fixed;
  z-index: 9999;
  height: var(--circle-size);
  width: var(--circle-size);
  background: var(--primary-color);
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  display: block;
  filter: blur(1px);
  box-shadow:
    0 0 40px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 10px var(--glow-color);
  mix-blend-mode: difference;

  &.clickable {
    --circle-size: 24px;
    background: var(--primary-color);
    mix-blend-mode: difference;
  }

  &.speak {
    --circle-size: 16px;
    background: var(--accent-color);
    filter: blur(2px);
  }
}
