.navButton {
  width: fit-content;
  height: fit-content;
  max-width: calc(100dvw - 10vmin);
  max-height: calc(100dvh - 10vmin);
  background: none;
  border: none;
  color: var(--text-color);
  cursor: inherit;
}

.navButton svg {
  fill: var(--text-color);
  width: 5vmax;
  height: 5vmax;
}

.navButton:first-of-type {
  filter: drop-shadow(5px 5px 0px var(--click-interaction-color));
}

.navButton:last-of-type {
  filter: drop-shadow(-5px 5px 0px var(--click-interaction-color));
}
