.liste {
  display: inline-flex;
  border-radius: 20px;

  &:is(:not(:hover)) > div > button:not(:active):not(.active) {
    --distance: -5px;
  }
  &:is(:hover) > div > button:not(:active):not(.active) {
    --distance: -6px;
  }

  &:is(:not(:hover)) > div > button.active {
    --distance: -2px;
  }
  &:is(:hover) > div > button.active {
    --distance: -2px;
  }

  &:nth-child(1) {
    background: var(--speak-interaction-color);
    animation: float 4s ease-in-out infinite;
  }
  &:nth-child(2) {
    background: var(--click-interaction-color);
    animation: float 4s ease-in-out infinite 0.3s;
  }
  &:nth-child(3) {
    background: var(--all-interaction-color);
    animation: float 4s ease-in-out infinite 0.8s;
  }
}

.button {
  appearance: none;
  outline: none;
  font-size: 3vmin;
  border: 3px solid var(--bg-color);
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: 20px;
  padding: 5px 10px;
  cursor: inherit;

  user-select: none;

  transform: translateX(var(--distance)) translateY(var(--distance));

  @media (prefers-reduced-motion: no-preference) {
    will-change: transform;
    transition: transform 0.2s ease;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
