.App {
  text-align: center;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

@keyframes earthquake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-5px, 5px) rotate(-1deg);
  }
  50% {
    transform: translate(5px, -5px) rotate(1deg);
  }
  75% {
    transform: translate(-5px, -5px) rotate(-1deg);
  }
}

.earthquake {
  animation: earthquake 0.1s ease-in-out infinite;
}
